#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

button {
  background: var(--color-primary);
  border: none;
  border-radius: 15px;
  font-size: 2em;
  width: 7em;
  height: 2em;

  transition: all .05s ease-in-out;
}

button:hover {
  background: var(--color-button-hover);
  cursor: pointer;
  transform: scale(1.05); 
}

button:active {
  background: var(--color-button-pressed);
  cursor: pointer;
  transform: scale(0.95); 

}


