:root {
  --color-primary: #f05941;
  --color-background: #150d18;
  --color-text-primary: #f8a89c;
  --color-button-pressed: #be3144;
  --color-button-hover: #f18372;
  --color-heading: #f8c2d2;
  --color-font: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #f05941;
    --color-text-primary: #f8a89c;
    --color-text-hover: #eb6651;
    --color-background: #150d18;
    --color-button-pressed: #be3144;
    --color-button-hover: #f18372;
    --color-heading: #f8c2d2;
    --color-font: #ffffff;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-heading);
}

a {
  color: var(--color-text-primary);
}

a:hover {
  color: var(--color-text-hover);
}

p,
button {
  color: var(--color-font);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: var(--color-background);
}
